<div class="container whitepage">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="row">
			<h3>About</h3>
		</div>
		<div class="row">
			This chess application was built as an agile team exercise through <%= link_to "the Firehose Project", "http://thefirehoseproject.com", :class => 'text-link' %> under the superb direction of <%= link_to "Ilya Krasnov", "https://github.com/ilyakrasnov", :class => 'text-link' %>.  The name for our app was inspired by the legendary <%= link_to "Deep Blue", "https://en.wikipedia.org/wiki/Deep_Blue_%28chess_computer%29", :class => 'text-link' %> - but since we weren't able to go nearly that deep in a few weeks, we only made it to periwinkle. 
		</div>
		<div class="row">
			<h3>Our Team</h3>
		</div>
		<div class="row text-center">
			<div class="col-xs-6 col-sm-4">
				<%= link_to 'https://github.com/tbowyer' do %>
					Trevor Bowyer<br />
					<%= image_tag 'github.png', :class => 'social-button' %>
				<% end %>
			</div>
			<div class="col-xs-6 col-sm-4">
				<%= link_to "https://github.com/travisdilweg" do %>
					Travis Dilweg <br />
					<%= image_tag 'github.png', :class => 'social-button' %>
				<% end %>
			</div>
			<div class="col-xs-6 col-sm-4">
				<%= link_to "https://github.com/handlez36" do %>
					Brandon McLean <br />
					<%= image_tag 'github.png', :class => 'social-button' %>
				<% end %>
			</div>
			<div class="col-xs-6 col-sm-4 col-sm-offset-2">
				<%= link_to "https://github.com/mattschmitter" do %>
					Matt Schmitter <br />
					<%= image_tag 'github.png', :class => 'social-button' %>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-4 ">
				<%= link_to "https://github.com/WalleyYang" do %>
					Walley Yang <br />
					<%= image_tag 'github.png', :class => 'social-button' %>
				<% end %>
			</div>
		</div>
		<div class="row">
			<br />
		</div>

	</div>
</div>