<% @board.each_with_index do |x_item, x_index| %>
  	<% x_item.each_with_index do |y_item, y_index| %>
		<% @current_piece = @game.pieces.where(x_position: x_index, y_position: y_index).first %>
		<% if y_item == 1 %>
				<div class ="square white-cell" data-item-x=<%= x_index %> data-item-y=<%= y_index %> >	
				<% if @current_piece.present? %>
					<div class = "piece draggable" data-item-id=<%= @current_piece.id %> data-update-url="<%= game_piece_path(@game, @current_piece.id) %>">
					<%= @game.find_piece_icon(x_index, y_index)  %>
					</div>
				<% end %>                                  
            </div>
		<% else %>
				<div class ="square black-cell" data-item-x=<%= x_index %> data-item-y=<%= y_index %> >	
					<% if @current_piece.present? %>
						<div class ="piece draggable" data-item-id=<%= @current_piece.id %> data-update-url="<%= game_piece_path(@game, @current_piece.id) %>" >
						<%= @game.find_piece_icon(x_index, y_index)  %>
						</div>
					<% end %>
            	</div>               
		<% end %>													
	<% end %>
<% end %>