<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

<div id="container" class="clear">
	<div id="games-left-column">
      <div id="user1-turn" class="circle <%= "turn" if @game.turn == @game.white_player_id%>">
        <%= @game.turn == @game.white_player_id ? "TURN" : "" %>
      </div>
		<div class="user1-info">
          <div class="text-center"><%= @game.white_player.email %> (White) </div>
			<div>
				<div class="pull-left">
					Wins: 5
					<br>
					Losses: 5
				</div>
				<div class="pull-right">
					IMAGE
				</div>
			</div>
            <div class="clear text-center"><%= @game.get_current_turn_message(@game.white_player_id) %></div>
		</div>
		<div class="text-center">
			<br>
			<button class="btn btn-warning">Declare Stalemate</button>
			<br>
			<br>
			<button class="btn btn-danger">Surrender</button>
			<br>
			<br>
			<hr>
			<h2>Countdown</h2>
			<br>
			<br>
			<h1>5:00</h1>
		</div>
	</div>

	<div id="games-center-column">
		<div id="score-board">
			<div class="pull-left">
				W: 2
				<br>
				L: 0
			</div>

			<div class="pull-left">
				User 1 vs User 2
			</div>

			<div class="pull-right">
				W: 0
				<br>
				L: 2
			</div>
		</div>

		<script>
			update_url = undefined; 
			var original_position = '';
			var square = '';
			
			$(function() {
              revertFlag = false;
              origTop = 0;
              origTopOffset = 0;
              origLeft = 0;
              origLeftOffset = 0;
              
				$('.piece').on ("mousedown", function() {
					update_url = $(this).attr('data-update-url');
					
				});

				$('.piece').draggable({ 
					containment: "#board",
				    start: function( event, ui ) {
						original_position = ui.position;
					}
				});
				
				$('.square').droppable({
					hoverClass: "highlighted",
					drop: function(event, ui) {
						
						var square = $(this);

		            	$.ajax({
		            		type: 'PUT',
		            		beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		            		url: update_url,
		            		dataType: 'json',
		            		data: { piece: { x_position: $(this).attr('data-item-x'), y_position: $(this).attr('data-item-y') } }
		            		}).done(function(response){
		            			if (response.status == "invalid_move") {				
		            				$(ui.draggable).css({
					                  'left': original_position.left,
					                  'top': original_position.top,
					               });				               		
		            			} else {
		            				ui.draggable.position({
										my: "center",
										at: "center",
										of: square,
									});
									window.location.reload();
		            			}	     
		            	});
						   
		        	}
				});
			});
		</script>


		<div id="board">
			<%= render "draw_pieces"%>
		</div>

		<% if flash[:error].present? %>
	      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
	        <%= flash[:error] %>
	      </div>
	    <% elsif flash[:notice].present? %>
	    <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
	        <%= flash[:notice] %>
	      </div>
   		<% end %>
   		 
	</div>

	<div id="games-right-column">
        <div id="user2-turn" class="circle <%= "turn" if @game.turn == @game.black_player_id%>">
          <%= @game.turn == @game.black_player_id ? "TURN" : "" %>
        </div>
		<div class="user2-info">
            <div class="text-center"><%= @game.black_player.email %> (Black) </div>
			<div>
				<div class="pull-left">
					Wins: 1
					<br>
					Losses: 8
				</div>
				<div class="pull-right">
					IMAGE
				</div>
			</div>
            <div class="clear text-center"><%= @game.get_current_turn_message(@game.black_player_id) %></div>
		</div>
		<div class="text-center">
			<br>
			<button class="btn btn-warning">Declare Stalemate</button>
			<br>
			<br>
			<button class="btn btn-danger">Surrender</button>
			<br>
			<br>
			<hr>
			<h2>Countdown</h2>
			<br>
			<br>
			<h1 class="text-success">3:30</h1>
		</div>
	</div>
</div>
